/* Layout */

body {
  font-size: 11px;
}

.visualization-container {
  margin-top: 20px;
}

.visualization-chart {
  height: 500px;
}

/* Axes */

.axis {
  fill: #777;
  transition-duration: 0.2s;
}

.axis path,
.axis line {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}

/* Lines */

.line {
  fill: none;
  stroke-width: 3;
}
